@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-family: 'mal';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mal.ttf');
}
body {
    font-family: 'Lato', sans-serif;
	background: #353535;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 7px;
}
.mal a {
    font-family: mal;
    color:#5074c9;
}
p {
    font-size:0.90em;
}
.section{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
}
.container * {
    font-weight: bold;
}
.center {
    text-align: center;
    -webkit-text-align: center;
}
.center-o {
    text-align: center;
    -webkit-text-align: center;
    margin: 0 auto;
}
.container {
    width:80%;
    margin:0 auto;
    color:#e5e5e5;
}
.section{
    text-align:center;
    overflow: hidden;
}
.black {
    color:black;
}
.bold {
    font-weight: bold;
}
.content {
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
}
@media (min-width: 768px) {
    .form-control {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        color: #555;
    }
    #mobi {
        display:none;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    .specialh {
        font-size: 2.5em;
    }
    .container p {
        font-size: 1.35em;
    }
    .special {
        font-size: 1em;
    }
    .prog {
        display:block;
        /* margin-left: -3000px; */
        transition: 2s;
    }
    .progress {
        width: 550px;
        margin: 4px auto;
    }
}